.App {
    text-align: center;
    max-width: 170px;
    border: 1px solid green;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;

}

.button {
    font-size: 25px;
    margin: 5px;
    padding: 0 10px;
    background-color: aqua;
    border-color: aquamarine;
}

.buttons {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
}

body{
    display: flex;
    text-align: center;
    justify-content: center;

}